/* ------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.right-header {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- FICHE -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

.Fiche {
  gap: 30px;
  margin: 5px 0;
}

.ContainerDeFiches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px 15px;
}

.ContainerFiche {
  width: 250px;

  border: 3px solid blue;
  /* ici faut aligner l'image    TODO */
}

.ContainerFiche img {
  width: 150px;
  height: 225px;
}

/* ------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- GLOBAL -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

div {
  border: 1px solid red;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
}

p {
  font-size: 18px;
  line-height: 1.2;
}

body {
  background-color: #1a1a1a;
  color: #fff;
}
